{% extends "base.html"%}
{% block content %}

<div class="container">
<div class="jumbotron">
<p class="h3">Stock Price Valuation via the Discounted Cash Flow Model</p>
<hr class="my-4">
<p class="lead">The Discounted Cash Flow (DCF) model is a valuation model that estimates the value of an investment by taking into account it's expected future cash flows.</p>
{% if message %}
<div class="alert alert-danger" role="alert">
<p>{{message}}</p>
</div>
{% endif %}
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      <p align="left">{{ form.ticker.label }} {{ form.ticker() }}
   <span style="float:right;">{{ form.fiscal_period.label }} {{ form.fiscal_period() }}</span>
   </p>
      <p align="left">{{ form.years_project.label }} {{ form.years_project() }}
      <span style="float:right;">{{ form.growth_rte.label }} {{ form.growth_rte() }}</span></p>
      <p align="left">{{ form.decline_rte.label }} {{ form.decline_rte() }}
      <span style="float:right;">{{ form.discount_rte.label }} {{ form.discount_rte() }}</span></p>
      <p align="left">{{ form.terminal_growth_rt.label }} {{ form.terminal_growth_rt() }}</p>
      <span style="float:right;">{{ form.submit() }}</span>
  </form>

</div>
</div>


{% endblock %}
